*{
    padding:0;
    margin: 0;
    /* this " * " used for change whole html .here we change default padding and margin*/
}

header{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    /* space inside any head section or ect */
}
main{
    margin-top: 50px;
    /* a space b/w header and main */
}
nav{
    display:flex;
    flex-direction: row;
   
    
    /* list style is to remove dots from the list */
}
/* in the above header and ul section details entered based on this site for reference https://flex-tryout.vercel.app/ */
#unlist{
    list-style: none;
    gap: 24px;
}
h1{
    color: blue
}

h3{
    color: white
}

#p1{
    color:red
    /* here we use hash # in front of p1 to show it's not a tag but an id */
}
.Skillparagraph{
    color: white
    /* here dot . is used infront of the name to show it's a class */
}
/* id is used to style one thing at a time whereas class is used to style a set of things at a time */
#aboutsection{
    background-color:rgb(87, 0, 128)
}
#Softwaredeveloper{
    color:orange
}
.section1{
    background-color: plum;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
} 
image{
    height: 100%;
}
p{
    max-width: 540;
    color: green 
}
